body {
    font-family: 'Roboto';
}

.form-pop {
    display: none;
    position: absolute;
    width: 300px;
    background-color: coral;
    margin: 20px;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 50px;
    background-color: #fee2e2;
    margin: 20px 100px;
    padding: 20px;
}

.card {
    display: grid;
    background-color: #991b1b;
    color: white;
}
